* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}

table {
  color: blue;
  font-size: 18px;
}

tr,
th,
td {
  border: 1px solid #ccc;
}

td {
  padding: 3px 1px;
}

.odd {
  background-color: #cdfecd;
}

.odd td {
  font-weight: bold;
  text-align: center;
}

.even .name {
  width: 250px;
}

caption {
  caption-side: bottom;
}
