* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}

table {
  border: 1px solid rgb(209, 207, 207);
  color: blue;
  font-size: 20px;
}

table td,
table th {
  empty-cells: hide;
}

th,
td {
  background-color: #fefe00;
  border: 2px solid rgb(209, 207, 207);
}

.bold {
  font-weight: bold;
}

caption {
  caption-side: bottom;
  font-size: 16px;
}
