* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 0 0 20px;
}

p {
  margin-bottom: 25px;
}

#citacao-1 {
  display: block !important;
  margin-bottom: 50px;
  width: 350px;
}

.citacao-2 > q {
  display: block;
  margin-bottom: 15px;
}
